<?xml version="1.0" encoding="utf-8"?>

<!--
  For any further information about how to configure ASP.NET application visit the website under:
  https://go.microsoft.com/fwlink/?LinkId=169433<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  -->
<configuration>
  <system.web>
    <compilation debug="true" optimizeCompilations="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
    <pages>
      <!-- 
      Controls the ScriptManager Ajax functionality
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
      -->
    </pages>
  </system.web>
  
 <connectionStrings>
    <add name="LaitBrasseurDB"
      connectionString="Data Source=(LocalDB)\LaitBrasseurDatabase;
      AttachDbFilename=|DataDirectory|\LaitBrasseurDatabase.mdf;
      Integrated Security=True"
      providerName="System.Data.SqlClient" />
</connectionStrings>
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
 
  <!--
  Web Application Connection String
  Step by step for configuration of the profile provider under
  https://www.codeproject.com/Articles/420052/Implementing-User-Profiles-in-ASP-NET-A-Beginners
  This shows the default profile provider which is SqlServer database placed in the App_Data directory of the website
  -->
</configuration>
