
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 87.5%;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
}

.jumbotron h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

.container {
    
}

footer {
    text-align: center;
}

.img-presentation {
    width: 75%;
    height: 75%;
    margin: 0 auto;
}




