
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 87.5%;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
}

.jumbotron h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    top: -110px;
    left: 68px;
}

footer {
    text-align: center;
}

<<<<<<< Updated upstream
<<<<<<< Updated upstream
.searchBar{
    background-color:lightgrey;
}

.img-presentation {
    width: 75%;
    height: 75%;
    margin: 0 auto;
}

=======
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the left side */
.left {
    left: 0;
    background-color: #ffffff;
}

/* Control the right side */
.right {
    right: 0;
    background-color: #808080;
}



